@model KeyHub.Web.ViewModels.Transaction.TransactionDetailsViewModel
@using KeyHub
@{
    ViewBag.Title = "ClaimLicenses";
}

<h2>Welcome to KeyHub</h2>

<h3>Your are now ready to claim your license. Please review your transaction below and proceed to checkout.</h3>

@using (Html.BeginForm()) {
    <fieldset>
        <legend>TransactionDetailsViewItem</legend>

        @Html.HiddenFor(model => model.Transaction.TransactionId)

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Transaction.SKUSummary)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Transaction.SKUSummary)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Transaction.CreatedDateTime)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Transaction.CreatedDateTime)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Transaction.StatusName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Transaction.StatusName)
        </div>

        <p>
            @if (User.Identity.IsAuthenticated)
            {
                <input type="submit" value="Proceed to checkout" />
            }
            else
            {
                UrlHelper u = new UrlHelper(Request.RequestContext);
                string url = u.Action("Checkout", "Transaction", new { key = Model.Transaction.TransactionId.ToString().EncryptUrl() });

                @Html.ActionLink("Register and proceed to checkout", "Register", "Account", new { returnUrl = url }, new { @class = "Btn" })  
                
                <html>&nbsp;</html>

                @Html.ActionLink("Log in and proceed to checkout", "Login", "Account", new { returnUrl = url }, new { @class = "Btn" })    
                       
            }
        </p>
    </fieldset>
}

