@model KeyHub.Web.ViewModels.Transaction.TransactionDetailsViewModel

@{
    ViewBag.Title = "Complete";
}

<h2>Your purchase has completed</h2>

<fieldset>
    <legend>TransactionViewModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Transaction.TransactionId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Transaction.TransactionId)
    </div>
</fieldset>

@Html.Partial("DetailsPartial", Model) 

<p>
    @Html.ActionLink("Buy SKUs now!", "Create", "Transaction")

    @Html.ActionLink("Back to home", "Index", "Home")
    
</p>
