<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>KeyHub - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @*@Styles.Render("~/Content/themes/base/css", "~/Content/css")*@
       <link href="/Content/Styles/Default.css" rel="stylesheet" type="text/css" />

        @Scripts.Render("~/bundles/modernizr")



    </head>
    <body>
        <div class="LayoutContainer">
            <div class="LayoutHeaderContainer">
                @Html.ActionLink("KeyHub", "Index", "Home", null, new { @class= "Logo"})


                <div class="LoginPartial">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            <div class="LayoutContentContainer">

                <ul id="menu" class="Menu">
                    <li>@Html.ActionLink("Vendors", "Index", "Vendor")</li>
                    <li>@Html.ActionLink("Features", "Index", "Feature")</li>
                    <li>@Html.ActionLink("SKUs", "Index", "SKU")</li>
                </ul>

                <ul class="Menu">
                    
                    <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
                    <li>@Html.ActionLink("Licenses", "Index", "License")</li>
                    <li>@Html.ActionLink("Licensed applications", "Index", "CustomerApp")</li>
                </ul>
                   
              
        
                @RenderSection("featured", required: false)
            
                @RenderBody()
            
       

            </div>
            <div class="LayoutFooterContainer">
                footer
            </div>
       </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

        <script type="text/javascript" src="/Scripts/jquery-ui-1.8.11.js"></script>
        <script type="text/javascript" src="/Scripts/jquery.prettyradiocheckbox.js"></script>
        <script type="text/javascript" src="/Scripts/jquery.chosen.min.js"></script>
        <script type="text/javascript" >


            $(document).ready(function () {
                form_focusFirstField();
                 $("SELECT").chosen({ no_results_text: "No results matched: " });
                 $("INPUT[type=checkbox]").prettyradiocheckbox();
                 
                 $("INPUT[type=datetime]").datepicker({ dateFormat: 'DD, d MM, yy' });
                
                 $("SELECT#SKU_VendorId").change(function () {
                    //$("SELECT#SKU_PrivateKeyId").append('<option>ss</option>').trigger("liszt:updated");
                 })
             });
             function form_focusFirstField() {
                 $("INPUT:visible:first").focus();
             }

             
            </script>
    </body>
</html>
