@model KeyHub.Web.ViewModels.PrivateKey.PrivateKeyCreateViewModel

@{
    ViewBag.ItemName = "Private Key";
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title <span>@ViewBag.ItemName</span></h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PrivateKeyViewModel</legend>

        @Html.HiddenFor(model => model.PrivateKey.PrivateKeyId)
        @Html.HiddenFor(model => model.PrivateKey.VendorId)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.PrivateKey.DisplayName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PrivateKey.DisplayName)
            @Html.ValidationMessageFor(model => model.PrivateKey.DisplayName)
        </div>

        <p>
            <input type="submit" value="Create @ViewBag.ItemName" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Details", "Vendor", new { key = Model.PrivateKey.VendorId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
