@model KeyHub.Web.ViewModels.Customer.CustomerIndexViewModel

@{
    ViewBag.ItemName = "Customer";
    ViewBag.Title = "Overview";
}

<h2>@ViewBag.ItemName <span>@ViewBag.Title</span></h2>

@if(Model.CurrentUser.IsVendorAdmin)
{
    <p>
        @Html.ActionLink("Create New Customer", "Create", null, new {@class = "Btn New"})
    </p>
}

<table border="0" border="0" cellspacing="0" cellpadding="0" class="GridTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customers.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.FirstOrDefault().Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.FirstOrDefault().Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.FirstOrDefault().PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.FirstOrDefault().City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.FirstOrDefault().Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.FirstOrDefault().CountryName)
        </th>
        <th></th>
    </tr>
        </thead>

@foreach (var item in Model.Customers) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
            @*@Html.ActionLink("Edit", "Edit", new { key = item.ObjectId })*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { key = item.ObjectId })
        </td>
    </tr>
}

</table>
