@model KeyHub.Web.ViewModels.DomainLicense.DomainLicenseCreateViewModel

@using (Html.BeginForm("CreatePartial", "DomainLicense"))
{
    @Html.ValidationSummary()

    <p>
        Note: No domains are registerd for your license yet. <br/>
        To use the licenses please register a domain.
    </p>

    <fieldset>
        <legend>DomainLicenseViewModel</legend>
        @Html.HiddenFor(model => model.DomainLicense.DomainLicenseId)
        @Html.HiddenFor(model => model.DomainLicense.AutomaticlyCreated)
        @Html.HiddenFor(model => model.DomainLicense.LicenseId)
        @Html.HiddenFor(model => model.RedirectUrl)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.DomainLicense.LicenseName)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.DomainLicense.LicenseName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DomainLicense.DomainName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DomainLicense.DomainName)
            @Html.ValidationMessageFor(model => model.DomainLicense.DomainName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DomainLicense.DomainLicenseIssued)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DomainLicense.DomainLicenseIssued)
            @Html.ValidationMessageFor(model => model.DomainLicense.DomainLicenseIssued)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DomainLicense.DomainLicenseExpires)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DomainLicense.DomainLicenseExpires)
            @Html.ValidationMessageFor(model => model.DomainLicense.DomainLicenseExpires)
        </div>

        <p>
            <input type="submit" value="Register domain" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
