@model KeyHub.Web.ViewModels.DomainLicense.DomainLicenseViewModel

@{
    ViewBag.ItemName = "Domain license";
    ViewBag.Title = "Create";
}

<h2><span>@ViewBag.Title</span> @ViewBag.ItemName </h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DomainLicenseViewModel</legend>
        
        @Html.HiddenFor(model => model.DomainLicenseId)
        @Html.HiddenFor(model => model.AutomaticlyCreated)
        @Html.HiddenFor(model => model.LicenseId)
        @Html.HiddenFor(model => model.RedirectUrl)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.LicenseName)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.LicenseName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DomainName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DomainName)
            @Html.ValidationMessageFor(model => model.DomainName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DomainLicenseIssued)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.DomainLicenseIssued)
            @Html.HiddenFor(model => model.DomainLicenseIssued)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DomainLicenseExpires)
        </div>
        <div class="editor-field">
            @if (Model.CanCalculateDomainExpiration)
            {
                @Html.DisplayFor(model => model.DomainLicenseExpires)
                @Html.HiddenFor(model => model.DomainLicenseExpires)
            }
            else
            {
                @Html.EditorFor(model => model.DomainLicenseExpires)
                @Html.ValidationMessageFor(model => model.DomainLicenseExpires)
            }
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to license details", "Details","License", new {key = Model.LicenseId}, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
