@model KeyHub.Web.ViewModels.DomainLicense.DomainLicenseIndexViewModel

<h2>Domains</h2>
<p>
    @Html.ActionLink("Create New", "Create", new { owningLicense=Model.PartentLicense })
</p>
<table border="0" border="0" cellspacing="0" cellpadding="0" class="GridTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DomainLicenses.FirstOrDefault().DomainName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DomainLicenses.FirstOrDefault().LicenseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DomainLicenses.FirstOrDefault().DomainLicenseIssued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DomainLicenses.FirstOrDefault().DomainLicenseExpires)
        </th>
        <th></th>
    </tr>
        </thead>

@foreach (var item in Model.DomainLicenses) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DomainName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DomainLicenseIssued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DomainLicenseExpires)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { key=item.DomainLicenseId })
        </td>
    </tr>
}

</table>
