@model KeyHub.Web.ViewModels.DomainLicense.DomainLicenseIndexViewModel

@{
    ViewBag.ItemName = "Domain license";
    ViewBag.Title = "Overview";
}

<h2>@ViewBag.ItemName <span>@ViewBag.Title</span></h2>
<p>
    @Html.ActionLink("Manually register a new domain", "Create", new { owningLicense=Model.PartentLicense },  new { @class = "Btn New"})
</p>
<table border="0" border="0" cellspacing="0" cellpadding="0" class="GridTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DomainLicenses.FirstOrDefault().DomainName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DomainLicenses.FirstOrDefault().LicenseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DomainLicenses.FirstOrDefault().DomainLicenseIssued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DomainLicenses.FirstOrDefault().DomainLicenseExpires)
        </th>
        <th></th>
    </tr>
        </thead>

@foreach (var item in Model.DomainLicenses) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DomainName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DomainLicenseIssued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DomainLicenseExpires)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { key=item.DomainLicenseId })
            @if (item.CanBeManuallyDeleted)
            {
                @:|
                @Html.ActionLink("Remove", "Remove", new {key = item.DomainLicenseId});
            }
        </td>
    </tr>
}

</table>
