@model KeyHub.Web.Controllers.VendorSecretController.VendorSecretEditModel

@{
    ViewBag.Title = "Create VendorSecret";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>VendorSecret for @Model.VendorName</legend>

        @Html.HiddenFor(model => model.VendorId)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CredentialName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CredentialName)
            @Html.ValidationMessageFor(model => model.CredentialName)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CredentialValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CredentialValue)
            @Html.ValidationMessageFor(model => model.CredentialValue)
        </div>

        <p>
            <input type="submit" value="Create VendorSecret" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Details", "Vendor", new { key = Model.VendorId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
