@model KeyHub.Web.ViewModels.License.LicenseDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LicenseDetailsViewItem</legend>
    <div class="editor-container-sideBySide">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.License.SKUName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.License.SKUName)
    </div>
       
    <div class="display-label">
         @Html.DisplayNameFor(model => model.License.PurchasingCustomerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.License.PurchasingCustomerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.License.OwnerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.License.OwnerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.License.OwningCustomerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.License.OwningCustomerName)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.License.LicenseIssued)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.License.LicenseIssued)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.License.LicenseExpires)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.License.LicenseExpires)
    </div>
         </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { key=Model.License.ObjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<p>
    @Html.Action("IndexPartial", "DomainLicense", new { parentLicense = Model.License.ObjectId })
</p>