@model KeyHub.Web.ViewModels.License.LicenseIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>License Overview</h2>

<p>
    @Html.ActionLink("Create New License", "Create", null,  new { @class = "Btn New"})
</p>
<table border="0" border="0" cellspacing="0" cellpadding="0" class="GridTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Licenses.FirstOrDefault().SKUName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Licenses.FirstOrDefault().OwningCustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Licenses.FirstOrDefault().LicenseIssued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Licenses.FirstOrDefault().LicenseExpires)
        </th>
        <th></th>
    </tr>
        </thead>
@foreach (var item in Model.Licenses) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SKUName)
            @*@Html.ActionLink("Edit", "Edit", new { key = item.ObjectId })*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwningCustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseIssued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseExpires)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { key = item.ObjectId })
        </td>
    </tr>
}

</table>
