@model KeyHub.Web.ViewModels.License.LicenseIndexViewModel

@{
    ViewBag.ItemName = "License";
    ViewBag.Title = "Overview";
}

<h2>@ViewBag.ItemName <span>@ViewBag.Title</span></h2>


<table border="0" border="0" cellspacing="0" cellpadding="0" class="GridTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Licenses.FirstOrDefault().SKUName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Licenses.FirstOrDefault().OwningCustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Licenses.FirstOrDefault().LicenseIssued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Licenses.FirstOrDefault().LicenseExpires)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Licenses.FirstOrDefault().DomainSummary)
        </th>
        <th></th>
    </tr>
        </thead>
@foreach (var item in Model.Licenses) {
    <tr>
        <td>
            @Html.ActionLink(item.SKUName, "Details", new { key = item.ObjectId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwningCustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseIssued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseExpires)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DomainSummary)
        </td>
        <td>
            @if(Model.CurrentUser.IsVendorAdmin)
            {
                @Html.ActionLink("Edit", "Edit", new {key = item.ObjectId}) <html>|</html>
                @Html.ActionLink("Details", "Details", new {key = item.ObjectId}) <html>|</html>
            }
            @Html.ActionLink("Add domain", "Create", "DomainLicense", new { owningLicense=item.ObjectId }, null)
        </td>
    </tr>
}

</table>
