@model KeyHub.Web.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

<p>
    Passwords must be at least 6 characters long.
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        
        @Html.HiddenFor(m => m.UserName)

        <div class="editor-label">@Html.LabelFor(m => m.UserName)</div>
        <div class="editor-field">@Html.DisplayFor(m => m.UserName)</div> 

        <div class="editor-label">@Html.LabelFor(m => m.OldPassword)</div>
        <div class="editor-field">@Html.PasswordFor(m => m.OldPassword)</div>              
           
        <div class="editor-label">@Html.LabelFor(m => m.NewPassword)</div>
        <div class="editor-field">@Html.PasswordFor(m => m.NewPassword)</div>               
           
        <div class="editor-label">@Html.LabelFor(m => m.ConfirmPassword)</div>
        <div class="editor-field">@Html.PasswordFor(m => m.ConfirmPassword)</div>                
            
        <br/>

        <input type="submit" value="Change password" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
