@using MvcFlash.Core.Extensions
@model KeyHub.Web.ViewModels.User.UserIndexViewModel

@{
    ViewBag.ItemName = "Account";
    ViewBag.Title = "Overview";
}

@section featured {
    <h2>@ViewBag.ItemName <span>@ViewBag.Title</span></h2>
}

<fieldset>
    <legend>UserViewModel</legend>
    <div class="editor-container-sideBySide">       
        <div class="display-label">
            @Html.DisplayNameFor(model => model.CurrentUser.Email)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CurrentUser.Email)
        </div>
    </div>
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CurrentUser.UserId }, new { @class = "Btn"})
    @if (OAuthWebSecurity.HasLocalAccount(Model.CurrentUser.UserId))
    {
        @Html.ActionLink("Change password", "ChangePassword", new {}, new { @class = "Btn"})
    }
    @Html.ActionLink("Link logins from other sites", "LinkAccount", new {}, new { @class = "Btn"})
</p>

<br/>
<br/>

@if (Model.CurrentUser.IsSystemAdmin || Model.CurrentUser.IsVendorAdmin)
{
    <h2>@ViewBag.ItemName <span>@ViewBag.Title</span></h2>

    <p>
        @Html.ActionLink("Create new account", "Create", null, new {@class = "Btn New"})
    </p>
    <table border="0" border="0" cellspacing="0" cellpadding="0" class="GridTable">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().RightsSummary)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RightsSummary)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.UserId})
                </td>
            </tr>
        }

    </table>
}

