@using MvcFlash.Core.Extensions
@model KeyHub.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

@section featured {
    <h2>@ViewBag.Title.</h2>
}

<table cellpadding="30px">
    <tr>
        <td valign="top" width="150px">
            <h2>Please enter your email and password.</h2>

            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
                @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")
                @Html.AntiForgeryToken()

                <fieldset>
                    <legend>Log in Form</legend>
                    <div class="editor-label">@Html.LabelFor(m => m.Email)</div>
                    <div class="editor-field">@Html.TextBoxFor(m => m.Email)</div>

                    <div class="editor-label">@Html.LabelFor(m => m.Password)</div>
                    <div class="editor-field">@Html.PasswordFor(m => m.Password)</div>
            
                    <div class="editor-field-checkbox">
               
                        <div class="editor-field">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                        </div>
                        <br/>
                        <div>
                            <input type="submit" value="Log in" />
                        </div>
                    </div>
                    
                    <h3>
                        If you don't have an account yet, you can @Html.ActionLink("register here", "Register", "Account", new { returnUrl = ViewBag.ReturnUrl}, new {})
                    </h3>
                </fieldset>
            }   
        </td>
        <td valign="top">
            <h2>Or login using your OpenID.</h2>

            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })        
        </td>
    </tr>
</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
