@model KeyHub.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Please enter your username and password.</h2>
</hgroup>

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")

    <fieldset>
        <legend>Log in Form</legend>
            <div class="editor-label">@Html.LabelFor(m => m.UserName)</div>
            <div class="editor-field">@Html.TextBoxFor(m => m.UserName)</div>

            <div class="editor-label">@Html.LabelFor(m => m.Password)</div>
            <div class="editor-field">@Html.PasswordFor(m => m.Password)</div>
            
        <div class="editor-field-checkbox">
               
            <div class="editor-field">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </div>
        </div>
        <br/>
        <input type="submit" value="Log in" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
