@model KeyHub.Web.ViewModels.CustomerApp.CustomerAppIndexViewModel


@if (Model.CustomerApps.Any())
{
    <p>
        Your license is available for use in the following applications:
    </p>
    
    foreach (var item in Model.CustomerApps)
    {
        var activeKey = Model.CustomerApps.Last();
        
        <h3>@Html.DisplayFor(modelItem => item.ApplicationName) @Html.ActionLink("Edit", "Edit", new { key = item.CustomerAppId })</h3>
    
        <fieldset>
            <legend>CustomerAppIndexViewModel</legend>
            <div class="editor-container-sideBySide">
                <div class="display-label">
                    @Html.DisplayNameFor(modelItem => item.LicenseSummary)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.LicenseSummary)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(modelItem => item.ActiveCustomerAppKey)
                </div>
                <div id="customerAppKeyValue" class="display-field">
                    <b>@Html.DisplayFor(modelItem => item.ActiveCustomerAppKey)</b>
                </div>              
            </div>
        </fieldset>
        <p>To enable this application to use the licenses, please add the followng code to the application's web.config</p>
        <div >
            @Html.TextAreaFor(modelItem => item.WebConfigExample, new {@class = "CodeExample"})
        </div>
    }
}
else
{
    <span>We're sorry! No applications available.</span>
}


