@model KeyHub.Web.ViewModels.CustomerApp.CustomerAppIndexViewModel

<p>
    @Html.ActionLink("Register new licensed application", "Create", null,  new { @class = "Btn New"})
</p>
<table border="0" border="0" cellspacing="0" cellpadding="0" class="GridTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerApps.FirstOrDefault().ApplicationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerApps.FirstOrDefault().LicenseSummary)
        </th>
        <th></th>
    </tr>
    </thead>

@foreach (var item in Model.CustomerApps)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationName)
            @*@Html.ActionLink("Edit", "Edit", new { key = item.CustomerAppId })*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseSummary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { key = item.CustomerAppId })
        </td>
    </tr>
}

</table>
